.detailcont {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 80em;
    overflow: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: auto;
    margin-bottom: 850px;
}

.firstcont {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 80em;
    overflow: hidden;
    z-index: 25;
}

#back {
    position: absolute;
    top: 75px;
    left: 10px;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

#backimg {
    height: 25px;
    width: 25px;
    filter: invert(1);
}

.imgdt {
    position: absolute;
    left: 70px;
    top: 90px;
    height: 400px;
    width: auto;
    border-radius: 12px;
    box-shadow: 0 0px 20px rgba(106, 0, 120, 0.29);
}
.backdropimg {
    height: auto;
    width: 100vw;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    overflow: hidden;
    filter: blur(10px);
    opacity: 20%;
    display: flex;
}

.detailtext {
    top: 280px;
    position: absolute;
    left: 400px;
    transform: translateY(-50%);
    height: fit-content;
    width: 60vw;
}

.dinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1px;
    width: fit-content;
    max-width: 95%;
}

#dratings {
    background-color: rgb(255, 234, 0);
    color: rgb(0, 0, 0);
    padding: 2px;
    padding-top: 3px;
    border-radius: 5px;
    font-weight: bold;
    width: 2.2em;
    height: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    text-align: center;
    font-size: 0.8em;
    margin-right: 10px;
  }

#rdate {
    color: rgb(210, 210, 210);
}

.ovtext {
    max-width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: fit-content;
}

.recom {
    top: 1000px;
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: 25;
}

.dgrad {
    background-image: linear-gradient(to top, rgba(12, 12, 12, 0) ,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 22;
    left: 0;
    top: 0;
    display: flex;
}

.dvideo {
    position: absolute;
    display: flex;
    top: 520px;
    z-index: 25;
    width: 90%;
    height: 400px;
    left: 70px;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.dbvideo {
    position: absolute;
    display: flex;
    top:-140px;
    z-index: 20;
    width: 120%;
    height: 200vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 90%;
}

.dtitletrailer {
    width: 100%;
    display: flex;
    align-items: left;
}
.dtrailer {
    background-color: black;
    width: 100%;
    border-radius: 10px;
}

#dbvgrad {
    background-image: linear-gradient(to top, rgb(12, 12, 12) ,rgb(12, 12, 12), rgba(12, 12, 12),rgba(12, 12, 12, 0),rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 22;
    left: 0;
    top: 0;
    display: flex;
}

.mbtn {
    position: absolute;
    z-index: 27;
    left: 20px;
    bottom: 20px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(34, 34, 34);
    border: solid 2px;
    border-color: rgb(90, 90, 90);
    border-radius: 50px;
    cursor: pointer;
}

.mbtn img {
    width: 30px;
    height: 20px;
    padding-left: 2px;
    filter: invert(1);
    opacity: 60%;
}



@media (max-width:800px) {
    .detailcont {
        width: 100%;
        overflow: hidden;
    }
    .mbtn {
        height: 10px;
        width: 10px;
        padding: 15px;
        opacity: 95%;
    }
    .dbvideo {
        display: none;
    }
    .firstcont {
        width: 100vw;
        overflow-x: hidden;
    }
    .mbtn img {
        width: 15px;
        height: 15px;
    }
    #back {
        top: 80px;
    }
    .backdropimg {
        top: 20px;
        opacity: 100%;
        overflow-x: hidden;
    }
    #dtitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 2.7em; /* Sesuaikan dengan kebutuhan Anda */
        overflow: hidden;
        overflow-y: scroll;
        text-overflow: ellipsis;
        overflow-x: auto;
      }
      
    .imgdt {
        left: 50%;
        transform: translateX(-50%);
        height:300px;
        border-radius: 10px;
    }
    .detailtext {
        left: 50%;
        transform: translateX(-50%);
        top:390px;
        text-align: left;
        font-size: 1em;
        width: 90vw;
    }
    #dratings {
        font-size: 1em;
        padding-left: 5px;
        padding-right: 4px;
    }
    .dinfo {
        flex-direction: row;
        font-size: 0.8em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ovtext {
        max-width: 100%;
        text-align: justify;
        max-height: 11.3em;
        overflow-y: scroll;
        -webkit-line-clamp: 40;
    -webkit-box-orient: vertical;
    text-overflow:clip;
    }
    .backdropimg {
        height: 100vh;
        width: 100%;
        opacity: 50%;
    }
    .dvideo {
        top:730px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 300px;
    }
    #dbvgrad {
        display: none;
        overflow-x: hidden;
    }
    .dbtrailer {
        display: none;
        overflow-x: hidden;
    }
    .recom {
        width: 100vw;
        overflow-x: hidden;
        top: 1020px;
    }

    /* PLAY BUTTON */
.playbtn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #e50914;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.playbtn:hover {
  background: #b00710;
}

/* PLAYER POPUP OVERLAY */
.player-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* PLAYER CONTAINER */
.player-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

/* CLOSE BUTTON */
.close-player {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  color: white;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* IFRAME PLAYER */
.player-iframe {
  width: 100%;
  height: 550px;
  border: none;
}

.playbtn {
    width: 100%;
}

}

/* PLAY BUTTON */
.playbtn {
  margin-top: 1px;
  padding: 0.4em 0.9em;
  background: #ffffffec;
  border: none;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0px 20px rgba(106, 0, 120, 0.596);
}

.playbtn:hover {
  background: #7807b0;
  color: white;
   box-shadow: 0 0px 20px rgba(106, 0, 120, 0.963);
}

/* PLAYER POPUP OVERLAY */
.player-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* PLAYER CONTAINER */
.player-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

/* CLOSE BUTTON */
.close-player {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  color: white;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* IFRAME PLAYER */
.player-iframe {
  width: 100%;
  height: 550px;
  border: none;
}


